<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Logo on the left -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo.png" alt="ResellVault Logo" width="40" height="40" class="me-2">
      ResellVault
    </a>

    <!-- Centered Search Bar -->
    <div class="mx-auto" style="width: 50%;">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
